<% flash.each do |type, msg| %>
  <%= content_tag :p, msg, class: 'alert alert-success' %>
<% end %>
<h1>Todos</h1>

<table class="table table-striped">
  <%= render 'tablehead' %>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.completed %></td>
        <td><%= link_to 'Completed', complete_todo_path(todo), :method => :put, :class => 'btn btn-info' %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_todo_path(todo), :class => 'btn btn-warning' %></td>
        <% end %>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+', new_todo_path, class: "btn btn-success" %>

<h2>To-dones</h2>
<table class="table table-striped">
  <%= render 'tablehead' %>

  <tbody>
    <% @completes.each do |complete| %>
      <tr>
        <td><%= complete.name %></td>
        <td><%= complete.completed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
